<h1><%= @page_title %></h1>
<p>Our mission is to provide students, faculty, staff and administrators of all education institutions of Nepal with the resources and tools necessary to achieve academic excellence. The Kathmandu Bookstore carries textbooks, general trade books, school supplies, and stationery. </p>
<p>
Our goal is to provide our customers with a great shopping experience, which is why we designed the Bookstore with several new features. Our store includes an event space for author readings and community events, a Kid's Corner for families and young readers to lounge and browse books, and an enhanced clothing department which includes new products and merchandise. With so many exciting features to offer, we hope you will enjoy shopping at the NYU bookstore! </p>


